<%- include("partial/header.ejs") %>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Hospital</span>
              </h2>
            </div>
            <p>
              At Your Organ Donation System, we are dedicated to making a difference by facilitating the gift of life through organ and tissue donation. Our organization is driven by a passionate commitment to saving lives, improving healthcare, and ensuring that the precious legacy of generosity and hope continues to thrive.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("partial/footer.ejs") %>
